## would be of much help if you had provided the example inputs and results too

## 1. Write a code to reverse a string

In [1]:
def reverse_str(s):
    return s[::-1]

In [3]:
"namrta".reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [5]:
list("namrta") .reverse() # do not return anything bcz its a permanant method

In [6]:
x = list("namrta")

In [7]:
x.reverse()

In [8]:
x

['a', 't', 'r', 'm', 'a', 'n']

In [9]:
"".join(x)

'atrman'

In [11]:
for i in enumerate("namrta"): # works for the string too
    print(i)

(0, 'n')
(1, 'a')
(2, 'm')
(3, 'r')
(4, 't')
(5, 'a')

In [14]:
for i in range(0,len("namrta"),-1):
    print(i)

In [20]:
list(range(0, 10, -1))

[]

In [21]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## 2. Write a code to count the number of vowels in a string

In [23]:
vow = filter(lambda x : x in "aeiouAEIOU", "namrta")

In [24]:
list(vow)

['a', 'a']

In [25]:
def vowels_count (s):
    count = 0 
    for i in s: 
        if i in "aeiouAEIOU":
            count += 1
    return count

In [26]:
vowels_count ("Write a code to count the number of vowels in a string")

17

## 3. Write a code to check if a given string is a palindrome or not
- is a pattern which is equal to its reverse counter part
'noon , mom, dad'

In [30]:
def is_pali (pat) :
    pat_rev = pat[::-1]

    for a, b in zip(pat, pat_rev):
        if a != b : 
            return False
    return True

In [34]:
is_pali("dad")

True

## 4. Write a code to check if two given strings are anagrams of each other

"namrta"  is anamgarm of "atrman"

In [ ]:
# def is_anag(txt,anag):
#     if not (len(anga) == len(txt)):
#         return False
#     for i,v in enumerate(anag):
#         x = txt.index()

In [ ]:
def are_anagrams(str1, str2):
    # Check if the lengths of the strings are the same
    if len(str1) != len(str2):
        return False

    # Sort both strings and compare
    return sorted(str1) == sorted(str2)

In [ ]:
# Example usage:
string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(result)  # Output: True

##### "namrta".index("x")

## 5. Write a code to find all occurrences of a given substring within another string

In [190]:
def find_substring_occurrences(s, substring):
    occurrences = []
    start = 0

    while start < len(s):
        pos = s.find(substring, start)
        if pos == -1:
            break
        occurrences.append(pos)
        start = pos + 1  # Move one character ahead to avoid finding the same occurrence again

    return occurrences

In [191]:
string = "abracadabra"

In [192]:
substring = "abra"

In [193]:
result = find_substring_occurrences(string, substring)
print(result)

[0, 7]

## 6. Write a code to perform basic string compression using the counts of repeated characters

In [194]:
def compress_string(s):
    compressed = ""
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1  # Increment count if the current character matches the previous one
        else:
            compressed += s[i - 1] + str(count)  # Append the character and its count to the compressed string
            count = 1  # Reset the count for the new character

    compressed += s[-1] + str(count)  # Add the last character and its count
    return compressed

In [195]:
string = "aaabbccccdaabracadabra"

In [196]:
compressed_string = compress_string(string)

In [197]:
print(compressed_string)

a3b2c4d1a2b1r1a1c1a1d1a1b1r1a1

## 7. Write a code to determine if a string has all unique characters

In [202]:
def has_unique_chars(s):
    seen_chars = set()  
    for char in s:
        if char in seen_chars:  
            return False
        seen_chars.add(char)  # Add the character to the set

    return True  # If we finish the loop without finding duplicates, all characters are unique

In [206]:
string = "abcdefga"

In [207]:
result = has_unique_chars(string)

In [208]:
print(result)

False

## 8.Write a code to convert a given string to uppercase or lowercase

In [1]:
def caseConverter(strx,case):
    if case =='t':
        return strx.title()
    elif case == 'u':
        return strx.upper()
    elif case =='l':
        return strx.lower()

In [2]:
caseConverter('Write a code to convert a given string to uppercase or lowercase','u')

'WRITE A CODE TO CONVERT A GIVEN STRING TO UPPERCASE OR LOWERCASE'

In [3]:
caseConverter('Write a code to convert a given string to uppercase or lowercase','l')

'write a code to convert a given string to uppercase or lowercase'

In [4]:
caseConverter('Write a code to convert a given string to uppercase or lowercase','t')

'Write A Code To Convert A Given String To Uppercase Or Lowercase'

## 9.Write a code to count the number of words in a string

In [5]:
def wordCounter(strx):
    strx_l = strx.split(' ')
    print(strx_l)
    return len(strx_l)

In [6]:
wordCounter('Write a code to count the number of words in a string')

['Write', 'a', 'code', 'to', 'count', 'the', 'number', 'of', 'words', 'in', 'a', 'string']

12

## 10. Write a code to concatenate two strings without using the + operator

In [7]:
def stringConcatenate(str1, str2):
    '''concatenates two strings and return a new string using + operator'''
    return str1 + str2

In [8]:
stringConcatenate("Namrta", "Tanwar")

'NamrtaTanwar'

## 11. Write a code to remove all occurrences of a specific element from a list

In [12]:
def remove_all(listx,elem):
    '''removes all the occurence of a specific element from the list'''
    while elem in listx:
        listx.remove(elem)
    return listx

In [16]:
data = 'banana strawberry muffin banana is like a eatry banana which need to be banana finsihed fished with aaaa banana shee blakc'.split(' ')

In [17]:
data

['banana',
 'strawberry',
 'muffin',
 'banana',
 'is',
 'like',
 'a',
 'eatry',
 'banana',
 'which',
 'need',
 'to',
 'be',
 'banana',
 'finsihed',
 'fished',
 'with',
 'aaaa',
 'banana',
 'shee',
 'blakc']

In [18]:
remove_all(data,'banana')

['strawberry',
 'muffin',
 'is',
 'like',
 'a',
 'eatry',
 'which',
 'need',
 'to',
 'be',
 'finsihed',
 'fished',
 'with',
 'aaaa',
 'shee',
 'blakc']

In [44]:
data # the original data gets changed

['strawberry',
 'muffin',
 'is',
 'like',
 'a',
 'eatry',
 'which',
 'need',
 'to',
 'be',
 'finsihed',
 'fished',
 'with',
 'aaaa',
 'shee',
 'blakc']

## 12. Implement a code to find the second largest number in a given list of integers

In [20]:
def second_largest(listx):
    ''' returns the second largest integer from a list'''
    s_listx = sorted(listx)
    return s_listx[-2]

In [19]:
sorted([12,1,23,33,2,3,423,9])

[1, 2, 3, 9, 12, 23, 33, 423]

In [21]:
second_largest([12,1,23,33,2,3,423,9])

33

## 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values`

In [29]:
def count_elem (listx):
    d = {}
    for i in listx:
        # setdefault(key, defaultvalue) 
        # if the key exist that the original value is returned
        # if the key does not exits than the default value is set to the new key so created
        d.setdefault(i, 0)
        if i in d:
            d[i] +=1
    return d

In [30]:
count_elem(["namrta" ,'nandini', 'anjali', 'shubham','rashi','nandini','anjali','vikran','namrta'])

{'namrta': 2, 'nandini': 2, 'anjali': 2, 'shubham': 1, 'rashi': 1, 'vikran': 1}

## 14. Write a code to reverse a list in-place without using any built-in reverse functions

In [66]:
def reverse(listx):
    rev_list = []
    for i in range (len(listx)-1,-1,-1):
        rev_list.append(listx[i])
    return rev_list

In [67]:
for i in range (10 -1 ,-1 ,-1):
    print(i)

9
8
7
6
5
4
3
2
1
0

In [68]:
names = ["namrta", 'vikas', 'anutu', 'rishabh', 'shiwali']
reverse(names)

['shiwali', 'rishabh', 'anutu', 'vikas', 'namrta']

In [69]:
# using list comprehensions
y = [names[x] for x in range(len(names)-1,-1,-1)]

In [72]:
y # reversed one liner

['shiwali', 'rishabh', 'anutu', 'vikas', 'namrta']

In [71]:
names # original is intact

['namrta', 'vikas', 'anutu', 'rishabh', 'shiwali']

## 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [43]:
# index(elem, start, stop)
['namrta','ajay','vijay','namrta'].index('namrta',1)

3

In [42]:
def remove_dupli(listx,elem):
    #could be done in the argument passing time but for saftey purpose
    l  = listx[:]
    while elem in l:
        # print(elem, elem in l)
        l.remove(elem)
    return l

In [54]:
data = ['n',
 'a',
 'm',
 'r',
 't',
 'a',
 't',
 'a',
 'n',
 'w',
 'a',
 'r',
 'l',]

In [55]:
data

['n', 'a', 'm', 'r', 't', 'a', 't', 'a', 'n', 'w', 'a', 'r', 'l']

In [56]:
remove_dupli(data, 'a')

['n', 'm', 'r', 't', 't', 'n', 'w', 'r', 'l']

## 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
sorted([1,3,21,3,44,22]) # defualt sort in ascending 
# if True is used as reverse = True that means list will be descending ie reversed

In [90]:
def check_sorted(listx):
    '''if sorted return True and the order of sort'''
    first,last = listx[0],listx[-1]
    key = True if first > last else False
    sort = "Descending" if key == True else "Ascending"
    # sorted(list, fun, reverse=Bool) 
    # False for ascending and True for descending
    sorted_listx = sorted(listx,reverse=key)
    print(sorted_listx, listx)
    if listx == sorted_listx:
        return True, sort
    else:
        return False

In [91]:
check_sorted([122,34,53,223,1])

[223, 122, 53, 34, 1] [122, 34, 53, 223, 1]

False

In [92]:
check_sorted([6,5,4,3,2,1])

[6, 5, 4, 3, 2, 1] [6, 5, 4, 3, 2, 1]

(True, 'Descending')

In [94]:
check_sorted(sorted([6,5,4,3,2,1],reverse=False))

[1, 2, 3, 4, 5, 6] [1, 2, 3, 4, 5, 6]

(True, 'Ascending')

In [87]:
[1,2,3,4,5,6,7].reverse() # doesn't return a new list it modifies the old one

## 17. Write a code to merge two sorted lists into a single sorted list

In [95]:
def merger_sort(s1, s2):
    return sorted(s1+s2)

In [96]:
merger_sort([1,2,3,45], [9,10,11,12])

[1, 2, 3, 9, 10, 11, 12, 45]

## 18. Implement a code to find the intersection of two given lists

In [101]:
# using the set
# & is intersection
# | union
# - difference

In [102]:
set([1,2,3,4,5]) | set([ 3,4,9,11])

{1, 2, 3, 4, 5, 9, 11}

In [1]:
def find_intersection(l1,l2):
    '''find intersection that is the common elements'''
    # set is the datastructure that lets us do that 
    # it provides  a intersection method that does that
    return set(l1).intersection(set(l2))

In [2]:
find_intersection({9,12,3,4,5,2,21,},{12,45,3,2,1,56,9})

{2, 3, 9, 12}

In [9]:
def fi(l1,l2):
    common = []
    for x in l2:
        for y in l1:
             if x == y :
                 if x not in common:
                    common.append(x)
    return common

In [10]:
fi([1,2,3,2,1,2,5],[2,4,5,7,7,44,5,6])

[2, 5]

## 19. Create a code to find the union of two lists without duplicates

In [12]:
# again makeing use of the sets
def lisuni(l1,l2):
    '''returns all the elments of the l1 and l2'''
    # also the benifit of sets is that they dont record duplicates
    # duplicates get auto removed
    return list(set(l1).union(set(l2)))

In [13]:
lisuni([1,11,23,42,3],[2,3,1,2,45])

[1, 2, 3, 42, 11, 45, 23]

## 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [ ]:
# guess the input list doesn't need to be same
def shuffle (l):

In [14]:
Math.random(1)

NameError: name 'Math' is not defined

In [210]:
import random
random.randint(1,9)

9

In [211]:
import random

def shuffle_list(lst):
    n = len(lst)
    for i in range(n - 1, 0, -1): 
        j = random.randint(0, i)  
        lst[i], lst[j] = lst[j], lst[i]

In [213]:

my_list = [1, 2, 3, 4, 5]

In [214]:
shuffle_list(my_list)

In [215]:

print(my_list)

[4, 2, 1, 5, 3]

## 21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [38]:
def common_tups(t1, t2):

    return tuple(set(t1) & set(t2)) #

In [39]:
(*(12,2,3),*(1,2,3)) # ohhh

(12, 2, 3, 1, 2, 3)

In [40]:
((12,2,3) +(1,2,3)) # more ohhh

(12, 2, 3, 1, 2, 3)

In [41]:
({1,23,4}  & {12,3,4})

{4}

In [42]:
common_tups((1,3,4,2,5),(5,6,7,8,3,2,1))

(1, 2, 3, 5)

## 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [62]:
def prompt_intersect (rng:int):
    print("Enter in this format : {1,3,44,32,4} Two sets of 5 element each")
    x , y = set() , set() # see this behaviour where {} means dictionary 
    for i in range(rng):
        s1  = int(input(f"Enter for  a set of integer setA{i}:"))
        s2 = int(input(f"Enter for another set of integer setB{i}:"))
        x.add(s1)
        y.add(s2)
    print(x, y)
    return x & y

In [63]:
prompt_intersect(5)

Enter in this format : {1,3,44,32,4} Two sets of 5 element each

Enter for  a set of integer setA0: 12
Enter for another set of integer setB0: 44
Enter for  a set of integer setA1: 33
Enter for another set of integer setB1: 12
Enter for  a set of integer setA2: 1
Enter for another set of integer setB2: 4
Enter for  a set of integer setA3: 1
Enter for another set of integer setB3: 3
Enter for  a set of integer setA4: 3
Enter for another set of integer setB4: 5

{33, 3, 12, 1} {3, 4, 5, 44, 12}

{3, 12}

In [48]:
set("{34,53,23,1,3,2,4}")

{',', '1', '2', '3', '4', '5', '{', '}'}

['{',
 '3',
 '4',
 ',',
 '5',
 '3',
 ',',
 '2',
 '3',
 ',',
 '1',
 ',',
 '3',
 ',',
 '2',
 ',',
 '4',
 '}']

## 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [64]:
def conca_tu(t1,t2):
    return t1+t2

In [65]:
conca_tu(("age","mage"),(1,3))

('age', 'mage', 1, 3)

## 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [96]:
def in_one_only():
    print("Provide the data in form {1,2,3,4,5} ")
    x = input("Data for setA : ")
    y = input("Data for setB : ")
    x = set(x.strip("{}").split(",")) # convert it to a   {'1','2','3','4','5'}
    y = set(y.strip("{}").split(","))
    return x - y

In [97]:
in_one_only()

Provide the data in form {1,2,3,4,5}

Data for setA :  {1,44,223,4,2}
Data for setB :  {99,44,223,0}

{'1', '2', '4'}

In [72]:
set(map(lambda x : int(x) if int(,set("{1,2,3,4}".strip("{}").split(",")))) # for the numbers conversion

{1, 2, 3, 4}

In [73]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

## 25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [92]:
def tup_in_range(tup, start , end):
    if start < 0:
        return "INVALID START ( start not negative) "
    return tup[start:end] # dont know if you meant this

In [93]:
x = (1,2,3,4,5,6,7,7)

In [94]:
tup_in_range(x,-1,5)

'INVALID START ( start not negative) '

In [87]:
x[1:10] # no error even if the end exceeds the length

(2, 3, 4, 5, 6, 7, 7)

In [95]:

x[100:10]

()

## 26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [98]:
def uni_char_set():
    print("Provide the data(characters) in form {a,b,d ,e} ")
    x = input("Data for setA : ")
    y = input("Data for setB : ")
    x = set(x.strip("{}").split(",")) # convert it to a   {'1','2','3','4','5'}
    y = set(y.strip("{}").split(","))
    return x | y

In [99]:
uni_char_set()

Provide the data(characters) in form {a,b,d ,e}

Data for setA :  {a,s,g,G}
Data for setB :  {n,c,e,d}

{'G', 'a', 'c', 'd', 'e', 'g', 'n', 's'}

## 27 Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [104]:
def max_min (t):
    mx = max(*t)
    mn = min(*t)
    return {"max" : mx, "min": mn}

In [105]:
max_min((1,22,11,20,3,45))

{'max': 45, 'min': 1}

In [103]:
max([12,3,4,]) # works fine too

12

In [101]:
max((99,1,2,3,100)) # works fine

100

In [102]:
max(99,1,2,3,41,100,1091)

1091

## 28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [106]:
def uni_inter_diff():
    print("Provide the data in form {a,b,d ,e} ")
    x = input("Data for setA : ")
    y = input("Data for setB : ")
    x = set(x.strip("{}").split(",")) # convert it to a   {'1','2','3','4','5'}
    y = set(y.strip("{}").split(","))
    return {"union":x|y, "difference" : x - y , "intersection" : x & y}

In [107]:
uni_inter_diff()

Provide the data in form {a,b,d ,e}

Data for setA :  {1,22,14,53,2}
Data for setB :  {14,2,3,4,22}

{'union': {'1', '14', '2', '22', '3', '4', '53'},
 'difference': {'1', '53'},
 'intersection': {'14', '2', '22'}}

## 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [109]:
def counter(tup , elem):
    # using the count method 
    return tup.count(elem)

In [110]:
counter(('a','z','e','f','a','c','t','e','a','b'),'a')

3

In [113]:
def counter(tup , elem):
    # using the count method 
    l = list(tup)
    count = 0 
    while elem in l:
        l.remove(elem)
        count +=1
    return count

In [118]:
counter(z,'a')

4

In [119]:
z

('a', 'z', 'e', 'f', 'a', 'c', 't', 'e', 'a', 'b', 'a')

In [108]:
(1,2,3,1,3,1,3,2).count(1)

3

## 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [121]:
set("adadadas")

{'a', 'd', 's'}

In [ ]:
# either of the set but not in both of the set 
# symmetric_difference() method
# x ^ y

In [124]:
def sym_dif():
    print("Provide the data in form {a,b,d ,e} ")
    x = input("Data for setA : ")
    y = input("Data for setB : ")
    x = set(x) # convert "abblaanode" to a   {a,b,l,n,o,d,e}
    y = set(y)
    print(x,y)
    return x ^ y

In [125]:
sym_dif()

Provide the data in form {a,b,d ,e}

Data for setA :  blacksheep
Data for setB :  whitesheep

{'k', 'a', 'e', 'p', 'h', 'c', 'b', 'l', 's'} {'e', 'p', 'h', 't', 'i', 'w', 's'}

{'a', 'b', 'c', 'i', 'k', 'l', 't', 'w'}

## 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [126]:

def count_elem (listx):
    d = {}
    for i in listx:
        # setdefault(key, defaultvalue) 
        # if the key exist that the original value is returned
        # if the key does not exits than the default value is set to the new key so created
        d.setdefault(i, 0)
        if i in d:
            d[i] +=1
    return d

In [129]:
words = "Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list".lower().split(" ")

In [130]:
words

['write',
 'a',
 'code',
 'that',
 'takes',
 'a',
 'list',
 'of',
 'words',
 'as',
 'input',
 'and',
 'returns',
 'a',
 'dictionary',
 'where',
 'the',
 'keys',
 'are',
 'unique',
 'words',
 'and',
 'the',
 'values',
 'are',
 'the',
 'frequencies',
 'of',
 'those',
 'words',
 'in',
 'the',
 'input',
 'list']

In [131]:
count_elem(words)

{'write': 1,
 'a': 3,
 'code': 1,
 'that': 1,
 'takes': 1,
 'list': 2,
 'of': 2,
 'words': 3,
 'as': 1,
 'input': 2,
 'and': 2,
 'returns': 1,
 'dictionary': 1,
 'where': 1,
 'the': 4,
 'keys': 1,
 'are': 2,
 'unique': 1,
 'values': 1,
 'frequencies': 1,
 'those': 1,
 'in': 1}

## 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [168]:
def concat_dict(d1,d2):
    items1= list(d1.items())
    items2 = list(d2.items())
    # print(items1, items2)
    for i in items2:
        
        if i not in items1:
            items1.append(i)
            
    return dict(items1)

In [169]:
x = {"name": "namrta","surname" : "tanwar", "gender" : "female"}

In [170]:
y = {"name": "suman","age" : 27, "address" : "solan"}

In [172]:
concat_dict(x,y) # updates the dictionary if similar key is there

{'name': 'suman',
 'surname': 'tanwar',
 'gender': 'female',
 'age': 27,
 'address': 'solan'}

In [132]:
{"name":"namrta"} + {"age" : 27}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
def concat_dict(d1,d2):

In [135]:
{"name": "namrta","age" : 27, "address" : "solan"} .items()

dict_items([('name', 'namrta'), ('age', 27), ('address', 'solan')])

In [137]:
{"name": "namrta","surname" : "tanwar", "gender" : "female"}.items()

dict_items([('name', 'namrta'), ('surname', 'tanwar'), ('gender', 'female')])

In [138]:
('name','namrta') in [('name', 'namrta'), ('surname', 'tanwar'), ('gender', 'female')]

True

## 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

#### again sample inputs would be of great help

In [179]:
def access_dict(d, keys):

    for i in keys :
        if i not in d.keys():
            yield None
        yield (d[i])

In [182]:
def access_dict(d, keys):

    for i in keys :
        yield None if i not in d.keys() else d[i]

In [183]:
x = access_dict({"name": "namrta","surname" : "tanwar", "gender" : "female"},['name','surname','age','gender'])

In [184]:
for i in x:
    print(i)

namrta
tanwar
None
female

## 34 Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order`

In [185]:
def sort_dict(d):
    return dict(sorted(d.items() ,key=lambda item : item[1]))

In [186]:
sort_dict({0:"namrta",1: "anirudh",2:"shiwalik"})

{1: 'anirudh', 0: 'namrta', 2: 'shiwalik'}

## 35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

In [187]:
def invert_dicti(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)  # Append key to the existing list
        else:
            inverted[value] = [key]  # Create a new list with the key
    return inverted

In [188]:

original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = invert_dicti(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}